name: Tests

on:
  push:
  pull_request:
    branches-ignore:
      - 'dependabot/*'

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 16
    - run: yarn --frozen-lockfile
    - run: yarn run lint

  test:
    name: Default tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [12, 14, 16, 18]
        # Only run one Node version on Windows
        include:
          - os: windows-latest
            node: 16
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node }}
    - run: yarn --frozen-lockfile
    - run: yarn test

  # Extra testing with an older version of moment-timezone as a regression check
  test-regression-mtz:
    name: Regression testing
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 16
    - run: yarn add -D moment-timezone@0.5.0
    - run: yarn test

  # Extra testing with webpack v4
  test-webpack-4:
    name: Webpack v4 testing
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3
      # NOTE: webpack v4 doesn't work properly with Node 17+
      with:
        node-version: 16
    - run: yarn add -D webpack@4
    - run: yarn test
